{% extends "base.html" %}

{% block title %}
{{ super() }}
<title>Контакти</title>
{% endblock %}


{% block main %}
{{ super() }}
<main>
    <section class="contact">
      <div class="container">
        <div class="contact__inner">
          <h2 class="contact__title main-title">Контакти</h2>
          <p class="contact__descr">
            Якщо у вас є питання щодо якості тренувань, допоможуть вони вам ці тренування чи ні, або ви просто бажаєте задати уточнювальні питання, то ви можете оставити заявку, щоб наша команда відповіла на ваши питання.
          </p>
          <div class="contact__box">
            <div class="contact__item">
              <h3 class="contant__item-title">Заявка</h3>
                {{form.hidden_tag()}}
                {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
                    <span class="invalid-feedback">
                    {% for e in field.errors %}
                    {{ e }}
                    {% endfor %}
                    </span>
                {% endfor %}
              <form class="contact__item-form" method="post">
              <div>
                {{ form.contacts_name(placeholder="Ім’я Прізвище По-Батькові") }}
                {{ form.contacts_email(placeholder="Email") }}
                {{ form.contacts_phone(placeholder="Телефон") }}
                {{ form.contacts_question(placeholder="Питання") }}
                {{ form.submit() }}
              </div>
              </form>
                  {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <li class="contact__descr">{{ message }}</li>
                                    {% endfor %}
                                 </ul>
                            {% endif %}
                  {% endwith %}
                {% if errors%}
                <ul class=flashes>
                                    {% for error in errors %}
                                        <li class="contact__descr">{{ "".join(error) }}</li>
                                    {% endfor %}
                                 </ul>
                            {% endif %}


            </div>

            <div class="contact__item">
              <h3 class="contant__item-title">Наши офіси</h3>

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}